 /* .App {
  text-align: center;
} */
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrappers{
  position: relative;
} */

.App {
  text-align: center;
}




/* .MuiStepIcon-root .MuiSvgIcon-root  {
  color:goldenrod !important;
 
}
.MuiStepIcon-completed .MuiStepIcon-active{
  color:red !important;
}

circle{
  color: goldenrod;
} */
/* svg{
  color: goldenrod !important;
} */
.idstyle{
font-family: Verdana, Geneva, Tahoma, sans-serif;
width:100%
}
/* .styletext{

} */
.confirmation{ 
  background-color: #c39738 ;
  color:white;
  display:flex;
  align-items: center;
}
.MuiTableCell-body{
  width: 80% !important;
}
.oneDemand{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
   font-weight: 800;
 
 
}

#faten{
  color:red !important;
  background-color: salmon !important;
}
.login{
  color: #c39738;
    line-height: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none !important;
}


.MuiFormLabel-filled{
  color: #c39738  !important;

}
.MuiOutlinedInput-input{
  color: #333333 !important;

}
.MuiFormLabel-root{
  color: #333333 !important;
}
.hidden{
  display: none;
}
.MuiAvatar-colorDefault{ 
  background-color: #c39738 !important
  ; color:white  !important
}
.moez{
  padding-top: 100px;
}
.displayDemand{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}
.selected{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  z-index: 99999;
  width:400px;
  height:400px;
}

#back{
  color: #c39738 !important
;border: 1px solid #c39738 ;
font-weight: bold;
outline: none !important;
}
#next{
  color: white !important
;background-color: #c39738;
outline: none !important;
font-weight: bold;
}
.MuiStepButton-touchRipple	{
  color: red !important

}

.MuiStepIcon-active {
  color: #333333 !important
}
.MuiStepIcon-completed{
  
  fill:#c39738 !important;
}
.MuiStepIcon-completed .MuiStepIcon-active{
  color:red !important;
}
.profiler{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right:10px ;
  padding-top:5px ;
  align-items: center;
  align-self: center;
  align-content: center;
}